/* Reset global styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* global styles */
html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

p {
    color: var(--Grayish-blue);
}

/* body styles */
body {
    /* border:1px solid blue; */
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
}
/* main-container styles */
.main-container {
    max-width: 980px;
    /* display: grid; */
    /* gap: 3rem; */
    /* border:1px solid red; */
    /* padding:3rem; */
}

/* nav styles */
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.logo-container {
    flex: 1 ;
}
.nav-links {
    display: flex;
    list-style: none;
    /* flex:1 1 20rem; */
}

.nav-links li {
    margin-left: 2.15rem;
}

.nav-links li a {
    text-decoration: none;
    color: var(--Grayish-blue);
    font-size:1.6rem;
}

.nav-links li a:hover {
    cursor: pointer;
    color:var(--soft-orange);
}

/* main content styles */
.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    grid-template-areas:"a a b"
                        "c d b"
                        "g h i";
}

.hero-image {
    grid-area: a;

}
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    grid-area: c;
    font-size: 2.8rem;
    color: var(--Very-dark-blue);
    align-self:end;
}

.main-text {
    grid-area: d;
    /* align-self: stretch;*/
    position: relative;
}

.main-text p {
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
    line-height:1.6;
}

.main-text button {
    padding: 1rem 2rem;
    border:none;
    color: white;
    background-color: var(--soft-red);
    letter-spacing: 0.3rem;
    font-size:1.1rem;
    position: absolute;
    bottom: 0;
}

.main-text button:hover {
    cursor: pointer;
    color:var(--Off-white);
    background-color: var(--Very-dark-blue);
}
/* aside section */
.new-container {
    grid-area: b;
    /* border:1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    /* color: var(--Off-white); */
    background-color: var(--Very-dark-blue);
}

.item-one,
.item-two {
    border-bottom: 1px solid var(--Off-white);
}

.new-container h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: var(--soft-orange);
}

.new-container h3 {
    font-size: 1.6rem;
    margin-bottom:1rem;
    color: var(--Off-white);
}

.new-container h3:hover {
    cursor: pointer;
    color: var(--soft-orange);
}
.new-container p {
    margin-bottom: 1rem;
    font-size:1.25rem;
    line-height:1.6;
}

.new-item {
    padding: 1.5rem;
}

.footer-item {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
    /* border: 1px solid green; */
    padding:5rem 0rem;
    height:20rem;
}


.sub-item {
    /* flex: 1 1 2rem; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* padding:1rem; */
    /* border:1px solid orange; */
}

.sub-item h3 {
    font-size: 2rem;
    /* border:1px solid blue; */
    margin-bottom: 0.5rem;
    color: var(--Grayish-blue);
}

.sub-item h4 {
    font-size: 1.5rem; 
    margin-bottom: 0.5rem;
    color: var(--Very-dark-blue); 
}

.sub-item h4:hover {
    color: var(--soft-red);
}

.sub-item p {
    font-size:1.3rem;
    line-height: 1.6;
}
.footer-item img {
    /* width: 100%; */
    /* height: 50%; */
    /* object-fit: cover; */
    /* border:1px solid gold; */
}
.footer-item-one {
    grid-area: g;
}

.footer-item-two {
    grid-area: h;
}

.footer-item-three {
    grid-area: i;
}


@media only screen and (max-width: 700px) {
    .main-content {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "a a"
                            "c b"
                            "d b"
                            "g h"
                            "i .";
    }
}

@media only screen and (max-width:559px) {
    .main-content {
        grid-template-columns: 1fr;
        grid-template-areas:"a"
                            "c"
                            "d"
                            "b"
                            "b"
                            "g"
                            "h"
                            "i";

    }

    .main-container {
        width: 90%;
    }
    .footer-item {
        padding: 1rem;
    }

    .sub-item h3 {
        font-size: 5rem;
    }
    .sub-item h4 {
        font-size:2.8rem;
    }

    .sub-item p {
        font-size: 2rem;
    }
}

